@model CrudRazorCore.Models.Alumno

@{
    ViewData["Title"] = "Detalles Alumno";
}

<h1>Detalles Alumno</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Matricula</dt>
        <dd class="col-sm-10">@Model.Matricula</dd>

        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Carrera</dt>
        <dd class="col-sm-10">@Model.Carrera</dd>

        <dt class="col-sm-2">Correo</dt>
        <dd class="col-sm-10">@Model.Correo</dd>

        <dt class="col-sm-2">Empresa Dual</dt>
        <dd class="col-sm-10">@Model.EmpresaDual</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Matricula" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
