@model IEnumerable<CrudRazorCore.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar empresa</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>RFC</th>
            <th>Nombre</th>
            <th>Asesor</th>
            <th>Dirección</th>
            <th>Fecha inscripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.RFC_Empresa</td>
            <td>@item.Nombre_Empresa</td>
            <td>@item.AsesorNav?.Nombre_Asesor</td>
            <td>@item.Direccion_Empresa</td>
            <td>@item.Fecha_Inscripcion?.ToString("dd/MM/yyyy")</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RFC_Empresa">Detalles</a> |
                <a asp-action="Edit" asp-route-id="@item.RFC_Empresa">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.RFC_Empresa">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
