@model IEnumerable<CrudRazorCore.Models.Asignacion>

@{
    ViewData["Title"] = "Asignaciones";
}

<h1>Asignaciones</h1>

<p>
    <a asp-action="Create" class="btn-crear">Nueva Asignación</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Alumno</th>
            <th>Empresa</th>
            <th>Asesor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Id_Asignacion</td>
            <td>@item.AlumnoNav?.Nombre (@item.Matricula_Alumno)</td>
            <td>@item.EmpresaNav?.Nombre_Empresa (@item.RFC_Empresa)</td>
            <td>@item.AsesorNav?.Nombre_Asesor</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id_Asignacion" ">Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.Id_Asignacion" ">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id_Asignacion" ">Eliminar</a>

            </td>
        </tr>
}
    </tbody>
</table>
